<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigzhao.jianrmagicbox"
    android:sharedUserId="com.bigzhao.janrmagicbox"
    android:versionCode="2"
    android:versionName="2.3.0">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:theme="@style/AppTheme"
            android:name="com.bigzhao.jianrmagicbox.LoaderActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.bigzhao.jianrmagicbox.MagicBoxService">
            <intent-filter>
                <action android:name="com.bigzhao.jianrmagicbox.action.SERVICE"/>
            </intent-filter>
        </service>
        <receiver android:name=".MagicBoxReciever">
            <intent-filter>
                <action android:name="com.bigzhao.jianrmagicbox.action.RECEIVER"/>
            </intent-filter>
        </receiver>
    </application
        >

</manifest>
